<li class="mb-1">
    <button class="btn rounded" data-toggle="collapse" 
        data-target="#{{category}}-collapse" type="buton">
        <span class="font-weight-bold">{{display}}</span>
    </button>
    <div class="collapse" id="{{category}}-collapse">
        <ul class="btn-toggle-nav list-unstyled pb-1">
            {% for route in routes %}
                <li class="pl-4">
                    <a href="{{ url(route)}}" class=" text-dark rounded text-decoration-none">
                        {{route_display[loop.index0]}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</li>