<li class="mb-1">
    <button class="btn rounded collapsed" data-bs-toggle="collapse"
    data-bs-target="#{{category}}-collapse">
        <span class="font-weight-bold">{{display}}</span>
    </button>
    <div class="collapse" id="{{category}}-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
            {% for route in routes %}
                <li class="ps-4">
                    <a href="{{ url(route)}}" class="link-dark rounded text-decoration-none">
                        {{route_display[loop.index0]}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</li>