{{ form_start(form) }}
    {{ form_row(form.name)}}
    {{ form_row(form.parent)}}
    {{ form_row(form.final)}}

    <input type="text" name="category[name]" id="input_category_name">
    <input type="hidden" name="asd" data-info="{{ excercises|join(",") }}">


    <button class="btn btn-info">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


