<div class="my-2">
    {{ form_start(form) }}
        {{ form_row(form.name,{label: "Nazwa: *"})}}
        {{ form_row(form.main,{label: "Główna: *"})}}
        {{ form_row(form.parent,{label: "Kategoria nadrzędna: "})}}
        {{ form_row(form.final,{label: "Ostateczna: "})}}
        {{ form_row(form.excercises,{label: "Ćwiczenia: *"})}}

        
        <div class="mb-3 text-right">
            <button class="btn btn-primary " type="submit">
                {{button_label|default('Stwórz')}} <i class="fa-solid fa-check"></i>
            </button>
        </div>
    {{ form_end(form) }}
</div>


