{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}

    <div class="px-5 py-3 container-lg bg-white rounded-lg shadow">
        <div class="d-flex flex-row justify-content-between align-items-right mb-3">
            <h2>Lista kategorii</h2>
            <div class="d-flex flex-row align-items-center">
                <i class="fa-solid fa-search mr-2"></i>
                <input class="form-control mr-4 w-50" type="search" placeholder="Szukaj...">
                <div>
                    <a href="{{ path('category_new') }}">
                        <button class="btn btn-primary">
                            <i class="fa-solid fa-plus"></i> Stwórz nową
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nazwa</th>
                        <th>Ostateczna</th>
                        <th class="text-right">Opcje</th>
                    </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.final ? 'Tak' : 'Nie' }}</td>
                        <td class="text-right">
                            <button class="btn btn-outline-success" data-toggle="modal" data-target="#categoryModal" data-category="{{category.id}}">
                                <i class="fa-solid fa-eye"></i> Szczegóły
                            </button>
                            <a href="{{ path('category_edit', {'id': category.id}) }}">
                                <button class="btn btn-outline-warning">
                                    <i class="fa-solid fa-pen-to-square"></i> Edytuj
                                </button>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    </div>

{% endblock %}

{% block modal %}
    <div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="categoryModalLabel">Szczegóły kategorii:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modalClose1">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body" id="modalBody">
                <div class="text-center">
                    <div class="py-5" id="modalSpinner">
                        <div class="spinner-border text-success" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="d-none py-2" id="modalData">
                        <div class="d-flex align-items-center justify-content-between my-2">
                            <span class="font-weight-bold">Id: </span>
                            <span id="modalCategoryId"></span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between my-2">
                            <span class="font-weight-bold">Nazwa: </span>
                            <span id="modalCategoryName"></span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between my-2">
                            <span class="font-weight-bold">Główna: </span>
                            <span id="modalCategoryMain"></span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between my-2">
                            <span class="font-weight-bold">Ostateczna: </span>
                            <span id="modalCategoryFinal"></span>
                        </div>
                    </div>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="modalClose2" onclick="resetModal()">Zamknij</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('category_index') }}
{% endblock %}