{% if layout == 1 %}
    <div class="row g-0 mx-0 font-weight-bold"> 
        <div class="col-6 p-0 border border-dark">{{data.excercise  ?? "Brak"}}</div>
        <div class="col-6 p-0 border border-dark">{{data.dosage ?? "Brak"}}</div>
    </div>
{% elseif layout == 2 %}
    <div class="row g-0 mx-0 font-weight-bold"> 
        <div class="col-2 p-0 border border-dark">{{data.date ?? "Brak"}}</div>
        <div class="col-3 p-0 border border-dark">{{data.excercise ?? "Brak"}}</div>
        <div class="col-2 p-0 border border-dark">{{data.series ?? "Brak"}}</div>
        <div class="col-2 p-0 border border-dark">{{data.repetition ?? "Brak"}}</div>
        <div class="col-2 p-0 border border-dark">{{data.load ?? "Brak"}}</div>
        <div class="col-1 p-0 border border-dark">{{data.break ?? "Brak"}}</div>
    </div>
{% endif %}

