<div class="row g-0 mx-0 font-weight-bold">
    <div class="col-1 p-0 border border-dark">{{data.date  ?? "Brak"}}</div>
    <div class="col-1 p-0 border border-dark">{{data.excercise ?? "Brak"}}</div>
    <div class="col-1 p-0 border border-dark">{{data.repetition ?? "Brak"}}</div>
    <div class="col-2 p-0 border border-dark">{{data.rate ?? "Brak"}}</div>
    <div class="col-1 p-0 border border-dark">{{data.break ?? "Brak"}}</div>
    <div class="col-1 p-0 border border-dark">{{data.series1 ?? "Brak"}}</div>
    <div class="col-1 p-0 border border-dark">{{data.series2 ?? "Brak"}}</div>
    <div class="col-1 p-0 border border-dark">{{data.series3 ?? "Brak"}}</div>
    <div class="col-1 p-0 border border-dark">{{data.series4 ?? "Brak"}}</div>
    <div class="col-1 p-0 border border-dark">{{data.series5 ?? "Brak"}}</div>
    <div class="col-1 p-0 border border-dark">{{data.series6 ?? "Brak"}}</div>
</div>