{% extends 'base.html.twig' %}

{% block title %}UserGroup{% endblock %}

{% block body %}
    <div class="px-5 py-3 container-lg bg-white rounded-lg shadow">
        <div class="d-flex flex-row justify-content-between align-items-end mb-3">
            <h2>Rodzaj treningu: {{user_group.name}}</h2>
             <a href="{{ path('user_group_index') }}">
                <button class="btn btn-primary">Powrót do listy</button>
             </a>
        </div>
        
        <div class="my-3">
            <div class="my-2">
                <h4>Dane rodzaju treningu:</h4>
            </div>
            <div class="ml-3 my-2">
                <span class="font-weight-bold">ID: </span>{{user_group.id}}
            </div>
            <div class="ml-3 my-2">
                <span class="font-weight-bold">Nazwa: </span>{{user_group.name}}
            </div>
            <div class="ml-3 my-2">
                <span class="font-weight-bold">Osoby: </span>
                {% for user in user_group.Users %}
                    <a href="{{ path('user_show', {'id': user.id}) }}">{{user.fullName}}</a>,
                {% else %}
                    Brak przypisanych osób        
                {% endfor %}
            </div>
        </div>        

        <div class="my-3">
            <div class="my-2">
                <h4>Plany treningowe przypisane do grupy: </h4>
            </div>
            {% for plan in plans %}
                <div class="my-2">
                    <div class="w-100 d-flex align-items-center justify-content-between o-bg-gray-200 p-2 rounded cursor-pointer">
                        <span class="font-weight-bold ml-2">{{user_group.workouts[loop.index0].name}}</span>
                        <i class="fa-solid fa-chevron-down mr-2"></i>
                    </div>
                    <div class="d-none">
                        {% include "pdf/workout.html.twig" with {'plan' : plan, 'kind' : user.workouts[loop.index0].workoutKind.name ?? 'Brak danych'} %}
                    </div>
                </div>
            {% else %}
                <div class="ml-3 my-2">Brak przypisanych planów treningowych dla tego użytkownika.</div>
            {% endfor %}
        
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user_show') }}
{% endblock %}